.row{
    background-color: blue;

}
footer{
    color: #fefefe;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px 2px 4px yellowgreen inset;
   

}