<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
    <p>
        <ul>
            <li><h1>Titulo de nivel secundario </h1> - 
                <h3>(years)</h3></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus itaque magni officia necessitatibus sint veniam, consequatur soluta saepe, maiores corrupti ipsa cumque sed quia cum aliquam odio quo sapiente autem?</p>
        </ul>
        <ul>
            <li><h1>Titulo de nivel Superior o Universitario</h1> - 
                <h3>(years)</h3></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus itaque magni officia necessitatibus sint veniam, consequatur soluta saepe, maiores corrupti ipsa cumque sed quia cum aliquam odio quo sapiente autem?</p>
        </ul>
        <ul>
            <li><h1>Titulo de formación profesional</h1> - 
                <h3>(years)</h3></li>
            <p>Lorem ipsum, dolor sit amet 
                consectetur adipisicing elit. 
                Doloribus itaque magni officia
                necessitatibus sint veniam, consequatur
                soluta saepe, maiores corrupti ipsa 
                cumque sed quia cum aliquam odio quo 
                sapiente autem?</p>
        </ul>
    </div>
</div>


