<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/MINIATURA-ARGEPROGR.jpg" id="logoAP">

        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/guasa.png" id="guasa"></a>
                <a href=""><img src="../../../assets/icono ceibu.png" id="ceibu"></a>
                <a href=""><img src="../../../assets/icono instagram.png" id="instagram"></a>
                <a href=""></a><img src="../../../assets/github.jfif" id="github">
                <a href=""><img src="../../../assets/linkedin.jfif" id="linkedin"></a>
                <button type="button" class="btn btn-outline-light">INGRESO</button>
            </div>
        </div>
    </div>
</div>
