<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>1°Trabajo</h1> - 
                <h3>(años)</h3></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Doloribus itaque magni officia necessitatibus sint veniam,
                 consequatur soluta saepe, maiores corrupti ipsa cumque sed 
                 quia cum aliquam odio quo sapiente autem?</p>
        </ul>
        <ul>
            <li><h1>2°Trabajo</h1> - 
                <h3>(años)</h3></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Doloribus itaque magni officia necessitatibus sint veniam,
                 consequatur soluta saepe, maiores corrupti ipsa cumque sed 
                 quia cum aliquam odio quo sapiente autem?</p>
        </ul>
        <ul>
            <li><h1>3° Trabajo</h1> - 
                <h3>(años)</h3></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                 Doloribus itaque magni officia necessitatibus sint veniam,
                  consequatur soluta saepe, maiores corrupti ipsa cumque sed 
                  quia cum aliquam odio quo sapiente autem?</p>
        </ul>
    </div>

</div>
